<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>three.js</title>
    <!-- <link rel="stylesheet" href="../static/css/three.css" /> -->
    <script type="importmap"> {
        "imports": {
            "three": "https://unpkg.com/three@0.138.0/build/three.module.js",
            "OrbitControls": "https://unpkg.com/three@0.138.0/examples/jsm/controls/OrbitControls.js",
            "GLTFLoader" : "https://unpkg.com/three@0.138.0/examples/jsm/loaders/GLTFLoader.js"
        }
    }
    </script>
</head>
<style>
    * {
        /*初始化 清除页面元素的内外边距*/
        padding: 0;
        margin: 0;
        /*盒子模型*/
        box-sizing: border-box;
    }

    body {
        /*弹性布局 让页面元素垂直+水平居中*/
        display: flex;
        justify-content: center;
        align-items: center;
        /*让页面始终占浏览器可视区域总高度*/
        height: 100vh;
        /*背景渐变色*/
        background: linear-gradient(#141e30, #243b55);

    }
    #demo {
        width: 100%;
        height: 100%;
    }
</style>

<body>
    <canvas id="demo" class="ree"></canvas>
    <script type="module" src="../static/js/robot.js"></script>
</body>

</html>